/* Global CSS*/

html,
body {
    font-family: "Verdana,sans-serif";
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

body p {
    margin: 0;
}

body a {
    color: #000;
    text-decoration: none;
}

body main .wrapper {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

/* Common CSS Classes*/

.hide {
    display: none;
}

.mall-container {
    width: 880px;
}

.mall-default-color {
    background-color: #fff;
    color: #000;
}

.mall-spacing {
    padding: 8px 16px;
}

.mall-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mall-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mall-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.mall-button {
    display: inline-block;
    background-color: #ccc;
    color: #000;
    padding: 8px 16px;
    cursor: pointer;
    letter-spacing: 1px;
}

.mall-button:hover {
    background-color: #f1f1f1;
}

.mall-arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
    border-bottom: 10px solid rgb(193, 193, 193);
}

.mall-arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
    border-top: 10px solid rgb(193, 193, 193);
}
  

/* Header related CSS*/

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

header .headerWrapper .homeLink {
    display: block;
    color: #000;
    text-decoration: none;
    letter-spacing: 4px;
}

header .headerWrapper .homeLink:hover {
    background-color: #ccc;
    color: #000;
}

/* Main CSS */

main {
    min-height: 500px;
}

main .loader {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}

main .loader img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

main .wrapper {
    padding-top: 55px;
}
main .wrapper .filters {
    min-height: 40px;
    width: 100%;
    background-color: rgba(241, 241, 241, 1);
}

main .wrapper .filters .categoryWrapper, main .wrapper .filters .sortWrapper {
    padding: 8px 16px;
}

main .wrapper .filters .categoryWrapper .selectCategory {
    margin: 4px 10px 0;
    width: 15px;
    height: 15px;
}

main .wrapper .filters .sortWrapper .selectSort {
    margin: 0 10px;
}

main .wrapper .productsWrapper {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 500px;
    overflow: hidden;
}

main .wrapper .productsWrapper .productRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

main .wrapper .productsWrapper .productRow:last-child {
    margin-bottom: 0;
}

main .wrapper .productsWrapper .productItem {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
}

main .wrapper .productsWrapper .productItem .imageWrapper {
    position: relative;
    height: 318px;
    background-size: cover;

}

main .wrapper .productsWrapper .productItem .imageWrapper .category {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
    color: #000;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: 12px;
}

main .wrapper .productsWrapper .productItem .imageWrapper .productImage {
    width: 100%;
    max-width: 300px;
    height: auto;
}

main .wrapper .productsWrapper .productItem .productDesc .productName {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
    background-color: #e8e8e8;
}

main .wrapper .productsWrapper .productItem .productDesc .productName:hover {
    color: #000;
    background-color: #ccc;
}

main .wrapper .productsWrapper .productItem .productDesc .productPrice {
    font-size:14px;
    line-height: 20px;
}

main .wrapper .productsWrapper .productItem .productDesc .productCurrency {
    font-size: 14px;
    line-height: 14px;
}

main .wrapper .productsWrapper .productItem .productDesc .productScore {
    font-size: 10px;
    line-height: 20px;
}

main .wrapper .loadMoreWrapper {
    text-align: center;
    margin: 0 auto;
}

/* Footer related CSS*/

footer {
    background-color: #000;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}

footer .copyrightText .company {
    color: #fff;
}

@media only screen and (max-width: 992px) {
    .mall-container {
        width: 750px;
    }
    main .wrapper .productsWrapper .productItem .imageWrapper {
        height: 245px;
    }
}

@media only screen and (max-width: 768px) {
    .mall-container {
        width: 480px;
    }
    main .wrapper .productsWrapper .productRow {
        margin-bottom: 10px;
    }
    main .wrapper .productsWrapper .productItem {
        padding: 0 10px;
    }
    main .wrapper .productsWrapper .productItem .imageWrapper {
        height: 200px;
    }
    
    main .wrapper .productsWrapper .productItem .imageWrapper .category {
        padding: 2px 4px;
        font-size: 8px;
    }
    main .wrapper .productsWrapper .productItem .productDesc .productName {
        font-size: 12px;
        line-height: 12px;
    }
    main .wrapper .productsWrapper .productItem .productDesc .productCurrency, main .wrapper .productsWrapper .productItem .productDesc .productPrice {
        font-size: 12px;
        line-height: 12px;
    }
    main .wrapper .productsWrapper .productItem .productDesc .productScore {
        font-size: 8px;
        line-height: 12px;
    }
    
}

@media only screen and (max-width: 480px) {
    .mall-container {
        width: 340px;
    }
    main .wrapper .productsWrapper .productItem .imageWrapper {
        height: 130px;
    }
}